:root {
    --main-backgroud-color: #ffffff;
    --hero-background-color: #2E2F42;
    --modal-backgroud-color: #F4F4FD;
    --main-btn-backgroudcolor: #E7E9FC;
    --primary-brand-color: #4D5AE5;
    --pressed-color: #404BBF;
    --accent-color: #2E2F42;
    --second-accent-color: #ffffff;
    --text-color: #434455;
    --additional-color: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--main-backgroud-color)
}


.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.link {
    text-decoration: none;
}

.link:is(:hover, :focus) {
    color: var(--pressed-color)
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--primary-brand-color);
    background-color: var(--main-btn-backgroudcolor);
}

.btn:is(:hover, :focus) {
    color: var(--second-accent-color);
    background-color: var(--pressed-color);
}

.list {
    list-style: none;
}

.second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}


/*-------------------------HEADER-------------------------*/




.header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav {}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}


.color-studio {
    color: var(--accent-color);
}

.header-list {}


.header-link {
    color: var(--accent-color)
}

.header-link:is(:hover, :focus) {
    color: var(--pressed-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    text-decoration: none
}

.address-mail,
.address-tel {
    color: var(--text-color);
}

.address-mail:is(:hover, :focus) {
    color: var(--pressed-color);
}

.address-tel:is(:hover, :focus) {
    color: var(--pressed-color);
}


/*-------------------------Portfolio-------------------------*/

.portfolio{}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-----------Portfolio - Functional/*-----------*/

.portfolio-functional-list {
}

.portfolio-functional-item {
}

.portfolio-functional-btn {
}


/*-------------------------Portfolio-------------------------*/

.portfolio-list {}

.portfolio-item {}

.portfolio-link {}

.portfolio-pic {}

.portfolio-title {}

.portfolio-text {}


/*-------------------------Footer-------------------------*/

.footer {
    background-color: var(--hero-background-color);
}

.logo {}

.footer.color-web {
    color: var(--primary-brand-color);
}

.footer .color-studio {
    color: var(--additional-color);
}

.footer-text {
    color: var(--additional-color);
}